//PEN HEADER
header.header
  h1.header__title Timeline Inspiration
  .header__btns.btns
    a.header__btn.btn(href="https://github.com/nat-davydova/timeline" title="Check on Github" target="_blanc") Check on Github