//PEN HEADER
header.header
  h1.header__title Timeline Inspiration
  .header__btns.btns
    a.header__btn.btn(href="https://github.com/nat-davydova/timeline" title="Check on Github" target="_blanc") Check on Github
    
//PEN CONTENT
.content

  //content title
  h2.content__title Scroll to check timeline
  
  //content inner
  .content__inner
  
    .timeline
    
      //timeline bar
      .timeline__bar
      
      //timeline element
      .timeline__elem.timeline__elem--left
      
        //timeline element date
        .timeline__date
          span.timeline__date-day 10
          span.timeline__date-month Jul
          
        //timeline event
        .timeline__event
          
          //timeline event full date and time
          .timeline__event-date-time
          
            .timeline__event-date 
              span 10/07/2019
              
            .timeline__event-time
              span 12:30
         
          //timeline event title
          h4.timeline__event-title JS meetup
          
          //timeline event descrtiption
          .timeline__event-descr
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
            
          //timeline event actions links
          .timeline__event-actions
          
            a.timeline__event-action(href="#" title="Learn More") Learn More 
            
            a.timeline__event-action(href="#" title="Contact Us") Contact Us 
            
      //timeline element
      .timeline__elem.timeline__elem--right
      
        //timeline element date
        .timeline__date
          span.timeline__date-day 18
          span.timeline__date-month Jul
          
        //timeline event
        .timeline__event
        
          //timeline event full date and time
          .timeline__event-date-time
          
            .timeline__event-date 
              span 18/07/2019
              
            .timeline__event-time
              span 12:30
         
          //timeline event title
          h4.timeline__event-title CSS Con
          
          //timeline event descrtiption
          .timeline__event-descr
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
            
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
            
          //timeline event actions links
          .timeline__event-actions
          
            a.timeline__event-action(href="#" title="Learn More") Learn More 
            
            a.timeline__event-action(href="#" title="Contact Us") Contact Us
            
      //timeline element
      .timeline__elem.timeline__elem--left
      
        //timeline element date
        .timeline__date
          span.timeline__date-day 23
          span.timeline__date-month Jul
          
        //timeline event
        .timeline__event
        
          //timeline event full date and time
          .timeline__event-date-time
          
            .timeline__event-date 
              span 23/07/2019
              
            .timeline__event-time
              span 07:30
         
          //timeline event title
          h4.timeline__event-title React Workshop
          
          //timeline event descrtiption
          .timeline__event-descr
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
            
          //timeline event actions links
          .timeline__event-actions
          
            a.timeline__event-action(href="#" title="Learn More") Learn More 
            
            a.timeline__event-action(href="#" title="Contact Us") Contact Us 
            
      //timeline element
      .timeline__elem.timeline__elem--left
      
        //timeline element date
        .timeline__date
          span.timeline__date-day 06
          span.timeline__date-month Aug
          
        //timeline event
        .timeline__event
        
          //timeline event full date and time
          .timeline__event-date-time
          
            .timeline__event-date 
              span 06/08/2019
              
            .timeline__event-time
              span 12:30
         
          //timeline event title
          h4.timeline__event-title Angular Meetup
          
          //timeline event descrtiption
          .timeline__event-descr
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
            
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
            
          //timeline event actions links
          .timeline__event-actions
          
            a.timeline__event-action(href="#" title="Learn More") Learn More 
            
            a.timeline__event-action(href="#" title="Contact Us") Contact Us
            
      //timeline element
      .timeline__elem.timeline__elem--right
      
        //timeline element date
        .timeline__date
          span.timeline__date-day 17
          span.timeline__date-month Aug
          
        //timeline event
        .timeline__event
        
          //timeline event full date and time
          .timeline__event-date-time
          
            .timeline__event-date 
              span 17/08/2019
              
            .timeline__event-time
              span 16:30
         
          //timeline event title
          h4.timeline__event-title Vue.js Con
          
          //timeline event descrtiption
          .timeline__event-descr
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
            
          //timeline event actions links
          .timeline__event-actions
          
            a.timeline__event-action(href="#" title="Learn More") Learn More 
            
            a.timeline__event-action(href="#" title="Contact Us") Contact Us
          
            
            
           
        
          