//PEN HEADER
header.header
  h1.header__title Timeline Inspiration
  .header__btns.btns
    a.header__btn.btn(href="https://github.com/nat-davydova/timeline" title="Check on Github" target="_blanc") Check on Github
    
//PEN CONTENT
.content

  //content title
  h2.content__title Scroll to check timeline
  
  //content inner
  .content__inner
  
    .timeline
    
      //timeline bar
      .timeline__bar
      
      //timeline element
      .timeline__elem
      
        //timeline element date
        .timeline__date
          
        //timeline event
        .timeline__event.timeline__event--left