//mixins
@mixin transition-mix ($property: all, $duration: 0.2s, $timing: linear, $delay: 0s) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}

@mixin position-absolute ($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

//variables
$theme-font-color: #2c2c2c;

//common styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: {
    family: 'Montserrat', sans-serif;
    size: 16px;
  }
  color: $theme-font-color;
  
  a {
    color: inherit;
    text-decoration: none;
  }
}

.btn {
  @include transition-mix;
  
  padding: 10px 20px;
  display: inline-block;
  margin-right: 10px;
  
  background-color: #fff;
  border: 1px solid $theme-font-color;
  border-radius: 3px;
  
  cursor: pointer;
  
  outline: none;
  
  &:last-child {
    margin-right: 0;
  }
  
  &:hover,
  &.js-active{
    color: #fff;
    
    background-color: $theme-font-color;
  }
}

//header styles
.header {
  max-width: 500px;
  margin: 50px auto;
  
  text-align: center;
}

.header__title {
  margin-bottom: 30px;
  
  font: {
    weight: 600;
  }
}

//content styles
.content {
  max-width: 700px;
  margin: 0 auto 40px;
}

.content__title {
  margin-bottom: 40px;
  
  font: {
    size: 18px;
    weight: 600;
  }
  text-align: center;
}

//timeline styles

$timeline-bar-bg-start: #ffce79;
$timeline-bar-bg-end: #9b74ff;
$timeline-bar-width: 6px;

.timeline__bar {
  position: relative;
  
  min-height: 500px;
  width: $timeline-bar-width;
  margin: auto;
  
  background-image: linear-gradient(to bottom, $timeline-bar-bg-start, $timeline-bar-bg-end);
  
  //decorations
  &:before,
  &:after {
    @include position-absolute($left: 50%);
    
    display: block;
    width: $timeline-bar-width + 6;
    height: $timeline-bar-width + 6;
    
    content: '';
    
    transform: translateX(-50%);
    
    border-radius: 50%;
  }
  
  &:before {
    top: 0;
    
    background-color: $timeline-bar-bg-start;
  }
  
  &:after {
    bottom: 0;
    
    background-color: $timeline-bar-bg-end;
  }
}